<div class="container">
  <div class="box box-solid">
    <table class="table">
      <% if @pg_search_documents.empty? %>
        <tr>
          <td>No results found!</td>
        </tr>
      <% else %>
      <div class="box-header with-border">
      <h5> (<%=@pg_search_documents.count%>) Search Results: </h5>
      </div>
          <% @pg_search_documents.each do |pg_search_document| %>
          <tr>
                <td><b><%= link_to pg_search_document.searchable.name, "../#{(pg_search_document.searchable.class).to_s.titleize.downcase.parameterize.gsub("-", "_").gsub("certifications_", "").pluralize}/#{pg_search_document.searchable.id}" %></b>
                <span class="help-block"><%=pg_search_document.searchable.class.to_s.titleize %></span>
                </td>
          </tr>
          <% end %>
      <% end %>
    </table>
  </div>
</div>
