<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-body">
        <h4> Certified Clients By Qualification </h4>
        <span class="help-block"> Generate report of clients filtered by qualification </span>
        <hr>
        <% @qualifications.each do |qualification| %>
          <%=link_to scope_by_qualification_certifications_path(qualification: qualification, format: "pdf") do %>
            <div class="row">
              <div class="col-md-8">
                <span class="text-muted"> <%=qualification.name %></span>
              </div>
              <div class="col-md-2">
                <span class="badge bg-blue pull-right"><%= qualification.clients.count %></span>
              </div>
              <div class="col-md-2">
                <span title="Print Preview" data-toggle="tooltip"><i class="fa fa-file-pdf-o"></i></span>
              </div>
            </div>
            <br>
          <% end %>
        <% end %>
        <hr />
    </div>
  </div>
</div>