<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
        <div class="row">
          <div class="col-md-3">
            <h3 class="box-title"> Qualifications </h3>
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-3">
            <span class="pull-right">
              <%= link_to "New Qualification", new_qualification_path, class: "btn btn-primary btn-flat" %>
            </span>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Qualification</th>
              </tr>
            </thead>
            <tbody>
              <% @qualifications.each do |qualification| %>
                <tr>
                  <td><%= link_to qualification.name, qualification%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
