<div class="tab-pane" id="trainings">
  <%=link_to "New Training", new_trainee_trainee_training_path(@trainee), class: "btn btn-primary btn-flat" %>
  <hr />
    <% @trainee.trainee_trainings.each do |trainee_training| %>
    <div class="row">
      <div class="col-md-5">
        <%= link_to trainee_training.name, trainee_trainee_training_path(trainee_training) %>
        <br>
        <small class="text-muted"><%=trainee_training.qualification_name %></small>
      </div>
    </div>
    <br />
<% end %>
</div>
