<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header">
        <div class="row">
          <div class="col-md-2">
            <h3 class="box-title"> Assessors </h3>
        </div>
        <div class="col-md-6">
          <%=form_tag assessors_path, method: :get, class: "search-form" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search...", id: 'assessor-search-form' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
      <div class="box-body">
        <% if @assessors.present? %>
          <% @assessors.each do |assessor| %>
  <%= link_to assessor.full_name, assessor_path(assessor) %>
<% end %>
<% else %>
No assessors found.
<% end %>
      </div>
    </div>
  </div>
</div>