
<%=form_tag assessors_path, method: :get, class: "search-form" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search...", id: 'assessor-search-form' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>

<% if @assessors.present? %>
<% @assessors.each do |assessor| %>
  <%= link_to assessor.full_name, client_path(assessor) %>
<% end %>
<% else %>
No assessors found.
<% end %>
