<div class="tab-pane" id='settings'>
  <h4 class="text-muted"> Settings </h4>
  <% if !@qualification.revised? %>
    <%= link_to "Set as Revised", revise_qualification_path(@qualification), method: :post, data: {confirm: "Are you sure you want to set this qualification as revised?"}, class: "btn btn-danger btn-flat" %>
  <% else %>
    <p class="alert alert-danger"> This qualification has been revised.</p>
  <% end %>
</div>